/* Variables */
:root {
  --color-dark: #121212;
  --bg-dark: var(--color-dark);
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
}

.example {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exaple-container {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* Input */
.input-container {
  position: absolute;
  top: 128px;
  right: 128px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: sans-serif;
  color: #fff;
  font-weight: 700;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

input {
  padding: 12px;
  border-radius: 4px;
  border: none;
  outline: none;
}

/* Tolstoy Animation Variable */
:root {
  /* Animation variables */
  --logo-animation-duration: 1.5s;
  --logo-animation-delay: 1s;
  --logo-animation-steps: 15;
}

/* Tolstoy Logo */
.svg-tolstoy-logo {
  width: calc(101.21px * 2);
  height: calc(30px * 2);
}

/* ---- Animation ---- */
.svg-tolstoy-logo path:nth-child(1) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.05s);
  animation-delay: calc(var(--logo-animation-delay) + 0.05s);
}

.svg-tolstoy-logo path:nth-child(2) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.1s);
  animation-delay: calc(var(--logo-animation-delay) + 0.1s);
}

.svg-tolstoy-logo path:nth-child(3) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.15s);
  animation-delay: calc(var(--logo-animation-delay) + 0.15s);
}

.svg-tolstoy-logo path:nth-child(4) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.2s);
  animation-delay: calc(var(--logo-animation-delay) + 0.2s);
}

.svg-tolstoy-logo path:nth-child(5) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.25s);
  animation-delay: calc(var(--logo-animation-delay) + 0.25s);
}

.svg-tolstoy-logo path:nth-child(6) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.3s);
  animation-delay: calc(var(--logo-animation-delay) + 0.3s);
}

.svg-tolstoy-logo path:nth-child(7) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.35s);
  animation-delay: calc(var(--logo-animation-delay) + 0.35s);
}

.svg-tolstoy-logo path:nth-child(8) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.4s);
  animation-delay: calc(var(--logo-animation-delay) + 0.4s);
}

.svg-tolstoy-logo path:nth-child(9) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.45s);
  animation-delay: calc(var(--logo-animation-delay) + 0.45s);
}

.svg-tolstoy-logo path:nth-child(10) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.5s);
  animation-delay: calc(var(--logo-animation-delay) + 0.5s);
}

.svg-tolstoy-logo path:nth-child(11) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.55s);
  animation-delay: calc(var(--logo-animation-delay) + 0.55s);
}

.svg-tolstoy-logo path:nth-child(12) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.6s);
  animation-delay: calc(var(--logo-animation-delay) + 0.6s);
}

.svg-tolstoy-logo path:nth-child(13) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.65s);
  animation-delay: calc(var(--logo-animation-delay) + 0.65s);
}

.svg-tolstoy-logo path:nth-child(14) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.7s);
  animation-delay: calc(var(--logo-animation-delay) + 0.7s);
}

.svg-tolstoy-logo path:nth-child(15) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.75s);
  animation-delay: calc(var(--logo-animation-delay) + 0.75s);
}

.svg-tolstoy-logo path:nth-child(16) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.8s);
  animation-delay: calc(var(--logo-animation-delay) + 0.8s);
}

.svg-tolstoy-logo path:nth-child(17) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.85s);
  animation-delay: calc(var(--logo-animation-delay) + 0.85s);
}

.svg-tolstoy-logo path:nth-child(18) {
  -webkit-animation-name: rainbow;
  animation-name: rainbow;
  -webkit-animation-duration: var(--logo-animation-duration);
  animation-duration: var(--logo-animation-duration);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(var(--logo-animation-steps));
  animation-timing-function: steps(var(--logo-animation-steps));
  -webkit-animation-delay: calc(var(--logo-animation-delay) + 0.9s);
  animation-delay: calc(var(--logo-animation-delay) + 0.9s);
}

@-webkit-keyframes rainbow {
  0%,
  11% {
    fill: #f6be00;
  }

  11%,
  16.5% {
    fill: #97d700;
  }

  16.5%,
  22% {
    fill: #00ab84;
  }

  22%,
  27.5% {
    fill: #00a3e0;
  }

  27.5%,
  33% {
    fill: #5461c8;
  }

  33%,
  38.5% {
    fill: #c724b1;
  }

  38.5%,
  44% {
    fill: #e4002b;
  }

  44%,
  49.5% {
    fill: #ff6900;
  }

  49.5%,
  55% {
    fill: #f6be00;
  }

  55%,
  60.5% {
    fill: #97d700;
  }

  60.5%,
  66% {
    fill: #00ab84;
  }

  66%,
  71.5% {
    fill: #00a3e0;
  }

  71.5%,
  76% {
    fill: #5461c8;
  }

  76%,
  81.5% {
    fill: #c724b1;
  }

  81.5%,
  86% {
    fill: #e4002b;
  }

  91.5%,
  100% {
    fill: #ff6900;
  }
}

@keyframes rainbow {
  0%,
  11% {
    fill: #f6be00;
  }

  11%,
  16.5% {
    fill: #97d700;
  }

  16.5%,
  22% {
    fill: #00ab84;
  }

  22%,
  27.5% {
    fill: #00a3e0;
  }

  27.5%,
  33% {
    fill: #5461c8;
  }

  33%,
  38.5% {
    fill: #c724b1;
  }

  38.5%,
  44% {
    fill: #e4002b;
  }

  44%,
  49.5% {
    fill: #ff6900;
  }

  49.5%,
  55% {
    fill: #f6be00;
  }

  55%,
  60.5% {
    fill: #97d700;
  }

  60.5%,
  66% {
    fill: #00ab84;
  }

  66%,
  71.5% {
    fill: #00a3e0;
  }

  71.5%,
  76% {
    fill: #5461c8;
  }

  76%,
  81.5% {
    fill: #c724b1;
  }

  81.5%,
  86% {
    fill: #e4002b;
  }

  91.5%,
  100% {
    fill: #ff6900;
  }
}
/* ---- Animation ---- */
